@charset "UTF-8";

@import url('reset.css');

@font-face {
    font-family: 'semibold';
    src: url('../font/paper/Paperlogy-6SemiBold.eot');
    src: url('../font/paper/Paperlogy-6SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/paper/Paperlogy-6SemiBold.woff2') format('woff2'),
        url('../font/paper/Paperlogy-6SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'medium';
    src: url('../font/paper/Paperlogy-5Medium.eot');
    src: url('../font/paper/Paperlogy-5Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/paper/Paperlogy-5Medium.woff2') format('woff2'),
        url('../font/paper/Paperlogy-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'regular';
    src: url('../font/paper/Paperlogy-4Regular.eot');
    src: url('../font/paper/Paperlogy-4Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/paper/Paperlogy-4Regular.woff2') format('woff2'),
        url('../font/paper/Paperlogy-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'bold';
    src: url('../font/paper/Paperlogy-7Bold.eot');
    src: url('../font/paper/Paperlogy-7Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/paper/Paperlogy-7Bold.woff2') format('woff2'),
        url('../font/paper/Paperlogy-7Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.up_btn {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 5;
    background-color: #fff;
    border-radius: 50%;
    display: none;
}

body {
    overflow-x: hidden;
}
.header {
    width: 100%;
    /* border-bottom: 1px solid #000; */
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    z-index: 5;
    transition: 0.4s;
    transform: translateY(0);
}
.header.on {
    transform: translateY(-100%);
    opacity: 0;
}
.header .inner {
    max-width: 1440px;
    width: calc(100% - 30px);
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner h1 {
    width: 160px;
}
.header .inner h1 img {
    width: 100%;
}
.header .inner .gnb {
    font-family: 'semibold';
    display: flex;
    column-gap: 37px;
}
.header .inner .util a {
    padding: 10px 0;
}
.header .inner .util {
    display: flex;
    column-gap: 40px;
    font-family: 'semibold';
}
.header .inner .util button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
/* .header .inner .gnb > li {
    position: relative;
} */
.header .inner .gnb > li .depth01 {
    font-size: 18px;
    line-height: 90px;
    padding: 10px 0;
}
.header .inner .gnb > li:hover .depth01 {
    color: #21A664;
}
.header .inner .gnb > li .depth02 {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    padding: 0 40px;
}
.header .inner .gnb > li .depth02 .dep02_wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: space-between;
}
.header .inner .gnb > li .depth02 p {
    cursor: default;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-align: center;
    margin: 40px;
}
.header .inner .gnb > li .depth02 button {
    width: 40px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.header .inner .gnb > li .depth02 button img {
    width: 100%;
    height: 100%;
}
.header .inner .gnb > li .depth02 .dep02_wrap li {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 32%;
    height: 100px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 15px;
    overflow: hidden;
}
.header .inner .gnb > li .depth02 .dep02_wrap li:hover img {
    scale: 1.04;
}
.header .inner .gnb > li .depth02 .dep02_wrap li:hover a {
    color: #21A664;
}
.header .inner .gnb > li .depth02 .dep02_wrap li img {
    /* padding-left: 20px; */
    width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.4s;
}
.header .inner .gnb > li .depth02 .dep02_wrap li a {
    width: 100%;
    line-height: 100px;
}
/* .header .inner .gnb > li .depth02 .dep02_wrap img {
    object-fit: cover;
    padding: 40px 0;
    height: 50%;
}
.header .inner .gnb > li .depth02 .dep02_wrap .wrap li {
    width: 100%;
    padding: 20px 0;
}
.header .inner .gnb > li .depth02 .dep02_wrap .wrap li:hover a {
    font-family: 'bold';
    color: #21A664;
}
.header .inner .gnb > li .depth02 .dep02_wrap .wrap li a {
    font-family: 'semibold';
    font-size: 18px;
    display: inline-block;
    width: 100%;
    padding: 20px;
}
.header .inner .gnb > li .depth02 .dep02_wrap .wrap {
    width: 50%;
} */
.header .inner .gnb > li:first-child .depth02.on,
.header .inner .gnb > li:nth-child(4) .depth02.on {
    display: none;
}

.header .inner .gnb > li .depth02.on {
    display: block;
}

.main_visual {
    width: 100%;
    height: 94vh;
    margin-bottom: 100px;
}
.main_visual .inner {
    width: 100%;
    height: 100%;
}
.main_visual .inner .main {
    width: 100%;
    height: 100%;
}
.main_visual .inner .main .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

}
.main_visual .inner .main .swiper-wrapper .text {
    cursor: default;
    position: absolute;
    bottom: 100px;
    left: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.main_visual .inner .main .swiper-wrapper .text button {
    cursor: pointer;
    font-family: 'medium';
    color: #fff;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    width: 125px;
    height: 50px;
    border-radius: 40px;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: 2;
}
.main_visual .inner .main .swiper-wrapper .text button::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #21A664;
    border-radius: 50%;
    z-index: -1 ;
    position: absolute;
    top: 0;
    left: -15px;

    transition: 0.4s;
}
.main_visual .inner .main .swiper-wrapper .text button:hover::after {
    width: 150px;
    border-radius: 35px;
}
.main_visual .inner .main .swiper-wrapper .text button img {
    width: 30px;
    height: 30px;
    /* background-color: #000; */
    border-radius: 50%;
    position: relative;
}
.main_visual .inner .main .swiper-wrapper .text p {
    font-family: 'semibold';
    font-size: 30px;
    color: #fff;
}
.main_visual .inner .main .swiper-wrapper .text span {
    font-family: 'medium';
    font-size: 20px;
    color: #fff;
}
.main_visual .inner .main .swiper-wrapper .text.color p,
.main_visual .inner .main .swiper-wrapper .text.color span,
.main_visual .inner .main .swiper-wrapper .text.color button {
    color: #000;
}
.main_visual .inner .main video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .inner .main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    background: url('../img/icon/next.png') center center;
    background-size: cover;
}
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    background: url('../img/icon/prev.png') center center;
    background-size: cover;
}
.swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    width: 20px !important;
    height: 20px !important;
    background: url('../img/icon/dot.png') center center !important;
    background-size: cover !important;
}
.section01 {
    width: 100%;
    overflow:hidden;
}
.section01 .inner {
    width: 100%;
    height: 850px;
    margin: 120px auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.section01 .inner .left {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.5s;
    transform: translateX(-70%);
    opacity: 0;
}
.section01 .inner .left.scroll_on {
    opacity: 1;
    transform: translateX(0);
}

.section01 .inner .left .box {
    border-radius: 20px;
    overflow: hidden;
    cursor: default;
}
.section01 .inner .left .box:first-child{
    width: 100%;
    height: 69%;
    object-fit: cover;
    position: relative;
}
.section01 .inner .left .box:first-child:hover button,
.section01 .inner .left .box:first-child:hover p,
.section01 .inner .left .box:last-child:hover button,
.section01 .inner .left .box:last-child:hover p,
.section01 .inner .right .box:first-child:hover button,
.section01 .inner .right .box:first-child:hover p,
.section01 .inner .right .box:last-child:hover button  {
    opacity: 1;

}
.section01 .inner .left .box:first-child:hover::after,
.section01 .inner .left .box:last-child:hover::after,
.section01 .inner .right .box:first-child:hover::after,
.section01 .inner .right .box:last-child:hover::after {
    opacity: 1;
    transform: translateY(0);
}
.section01 .inner .left .box:first-child:hover img,
.section01 .inner .left .box:last-child:hover img,
.section01 .inner .right .box:first-child:hover img {
    transform: scale(1.01);
}

.section01 .inner .left .box:first-child img,
.section01 .inner .left .box:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.section01 .inner .left .box:first-child p {
    font-family: 'semibold';
    font-size: 18px;
    position: absolute;
    bottom: 120px;
    left: 30px;
    z-index: 2;

    transition: 0.4s;
    opacity: 0;
}
.section01 .inner .left .box:first-child::after,
.section01 .inner .left .box:last-child::after{
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.9) 100%);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    transition: 0.4s;
    transform: translateY(20%);
    opacity: 0;
}
.section01 .inner .left .box:first-child button {
    font-size: 16px;
    font-family: 'medium';
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 30px;
    z-index: 2;
    border: 2px solid #21A664;
    padding: 12px 24px;
    border-radius: 40px;
    color: #21A664;
    transition: 0.4s;
    opacity: 0;
}
.section01 .inner .left .box:first-child button:hover,
.section01 .inner .left .box:last-child button:hover,
.section01 .inner .right .box:first-child button:hover,
.section01 .inner .right .box:last-child button:hover,
.section06 .inner .sec06 .swiper-slide .text button:hover  {
    background-color: #21A664;
    transform: scale(0.98);
    color: #fff;
}

.section01 .inner .left .box:last-child {
    width: 100%;
    height: 29%;
    position: relative;
}
.section01 .inner .left .box:last-child p {
    font-family: 'semibold';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    z-index: 2;

    transition: 0.4s;
    opacity: 0;
}
.section01 .inner .left .box:last-child p span {
    font-family: 'medium';
    font-size: 16px;
}
.section01 .inner .left .box:last-child button {
    font-size: 16px;
    font-family: 'medium';
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    border: 2px solid #21A664;
    padding: 12px 24px;
    border-radius: 40px;
    color: #21A664;
    transition: 0.4s;
    opacity: 0;
}
.section01 .inner .right {
    cursor: default;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.5s;
    transform: translateX(70%);
    opacity: 0;
}
.section01 .inner .right.scroll_on {
    opacity: 1;
    transform: translateX(0);
}

.section01 .inner .right .box {
    border-radius: 20px;
    overflow: hidden;
}
.section01 .inner .right .box:first-child {
    width: 100%;
    height: 36%;
    position: relative;
}
.section01 .inner .right .box:first-child::after,
.section01 .inner .right .box:last-child::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.9) 100%);

    transition: 0.4s;
    opacity: 0;
}
.section01 .inner .right .box:first-child p {
    font-family: 'semibold';
    font-size: 18px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    transition: 0.4s;
    z-index: 2;
    opacity: 0;
}
.section01 .inner .right .box:first-child button,
.section01 .inner .right .box:last-child button {
    font-size: 16px;
    font-family: 'medium';
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 2;
    border: 2px solid #21A664;
    padding: 12px 24px;
    border-radius: 40px;
    color: #21A664;
    transition: 0.4s;
    opacity: 0;
}
.section01 .inner .right .box:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.section01 .inner .right .box:last-child {
    width: 100%;
    height: 62%;
    background-color: #ffab2e;
    position: relative;
}
.section01 .inner .right .box:last-child p {
    word-break: keep-all;
    line-height: 1.3;
    font-family: 'semibold';
    padding: 30px;
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
}
.section02 {
    width: 100%;
}
.section02 .inner {
    width: 100%;
    height: 850px;
    margin: 120px auto;
    padding: 40px;
    position: relative;
    overflow: hidden;
}
.section02 .inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: 2.5s;
}
.section02 .inner img.scroll_on {
    transform: scale(1.35);
}
.section02 .inner h3 {
    width: 100%;
    text-align: center;
    cursor: default;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'bold';
    font-size: 120px;
    color: #fff;
    /* background: linear-gradient(to top, #ffab2e 50%, transparent 100%); */
    border-radius: 20px;
    mix-blend-mode: difference;
}
.section02 .inner .btn {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}
.section02 .inner .btn button {
    cursor: pointer;
    font-size: 16px;
    font-family: 'medium';
    padding: 12px 24px;
    border-radius: 40px;
    border: none;
    transition: 0.4s;
}
.section02 .inner .btn button:hover {
    scale: 0.95;
}
.section02 .inner .btn button:first-child {
    color: #fff;
    background-color: #21A664;
}
.section02 .inner .btn button:last-child {
    color: #21A664;
    background-color: #fff;
    border: 2px solid #21A664;
}
.section02 .inner .btn button:last-child:hover {
    color: #fff;
    background-color: #21A664;
}

.section03 {
    width: 100%;
}
.section03 .inner {
    width: 100%;
    height: 100%;
    padding: 40px;
    margin: 120px auto;
}
.section03 .inner h3 {
    cursor: default;
    font-family: 'bold';
    font-size: 20px;
    margin-bottom: 20px;
}
.section03 .inner .sec03 .swiper-slide {
    position: relative;
    /* box-shadow: ; */
}
.section03 .inner .sec03 .swiper-slide img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.section03 .inner .sec03 .swiper-slide:hover img {
    transform: scale(1.02);
}
.section03 .inner .sec03 .swiper-slide .text {
    word-break: keep-all;
    cursor: default;
    text-align: center;
    margin-top: 20px;
}
.section03 .inner .sec03 .swiper-slide .text p {
    font-family: 'medium';
    margin-bottom: 15px;
    
    /* 말줄임표 1줄 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.section03 .inner .sec03 .swiper-slide .text span {
    font-family: 'semibold';
    font-size: 18px;
}
.sec03 {
    position: relative !important;
}
.sec03-next {
    cursor: pointer;
    position: absolute !important;
    z-index: 2;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    background: url('../img/icon/next.png') center center;
    background-size: cover;
}
.sec03-prev {
    cursor: pointer;
    position: absolute !important;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    background: url('../img/icon/prev.png') center center;
    background-size: cover;
}

.section04 {
    width: 100%;
}
.section04 .inner {
    width: 100%;
    height: 100%;
    padding: 40px;
    margin: 120px auto;
}
.section04 .inner h3 {
    cursor: default;
    font-family: 'bold';
    font-size: 20px;
    margin-bottom: 20px;
}
.sec04 {
    width: 80% !important;
}
.sec04 .swiper-wrapper {
    width: 100% !important;
    position: relative;
    /* justify-content: center; */
    /* margin: 0 auto ; */
    /* display: flex; */
}
.sec04 .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec04 .swiper-wrapper .swiper-slide:hover a::after {
    opacity: 1;
}
.sec04 .swiper-wrapper .swiper-slide.on a::after {
    opacity: 1;
}
.sec04 .swiper-wrapper  .swiper-slide .text {
    word-break: keep-all;
    font-size: 14px;
    font-family: 'medium';
    margin-top: 10px;
    cursor: default;
    text-align: center;
}
.sec04 .swiper-wrapper  .swiper-slide .text p {
    margin-bottom: 5px;
    font-family: 'semibold';
}
.sec04 .swiper-wrapper  .swiper-slide a {
    display: inline-block;
    width: 100px;
    height: 100px;

}
.sec04 .swiper-wrapper .swiper-slide a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;

    position: relative;
}
.sec04 .swiper-wrapper  .swiper-slide a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #21A664;

    opacity: 0;
    transition: 0.4s;

}
.sec04-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
    background: url('../img/icon/next.png') center center;
    background-size: cover;
    width: 30px !important;
    height: 30px !important;
}

.sec04-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    background: url('../img/icon/prev.png') center center;
    background-size: cover;
    width: 30px !important;
    height: 30px !important;
}
.section04 .inner .item {
    width: 100%;
    height: 120vh;
    margin-top: 100px;
    position: relative;
}
.section04 .inner .item > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 65px;

    transform: translateY(10%);
    opacity: 0;
    transition: 0.5s;
}
.section04 .inner .item > div.on {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
}
.section04 .inner .item > div .box_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.section04 .inner .item > div .box_wrap .box {
    width: 22%;
}
.section04 .inner .item > div .box_wrap .box .text {
    cursor: default;
    word-break: keep-all;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section04 .inner .item > div .box_wrap .box .text p {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'medium';
    margin-bottom: 7px
}
.section04 .inner .item > div .box_wrap .box .text strong {
    font-family: 'regular';
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}
.section04 .inner .item > div .box_wrap .box .text span {
    font-family: 'semibold';
    font-size: 18px;
}
.section04 .inner .item > div .box_wrap .box a {
    display: inline-block;
    width: 100%;
}
.section04 .inner .item > div .box_wrap .box a img {
    width: 100%;
    object-fit: cover;
    transition: 0.4s;
}
.section04 .inner .item > div .box_wrap .box:hover a img {
    transform: scale(1.02);
}
.section04 .inner .item > div button {
    cursor: pointer;
    font-size: 18px;
    font-family: 'medium';
    display: flex;
    align-items: center;
    column-gap: 12px;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 12px 24px;
}
.section04 .inner .item > div button img {
    width: 28px;
}
.section05 {
    width: 100%;
    transform: translateY(20%);
    transition: 0.4s;
    opacity: 0;
}
.section05.scroll_on {
    transform: translateY(0);
    opacity: 1;
}
.section05 .inner {
    width: 100%;
    height: 850px;
    margin: 120px auto;
    padding: 40px;
}
.section05 .inner h3, .section06 .inner h3 {
    cursor: default;
    font-family: 'bold';
    font-size: 20px;
    margin-bottom: 20px;
}
.section05 .inner .box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}
.section05 .inner .box img {
    height: 600px;
    object-fit: cover;
}
.section05 .inner .box .text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #baef80;
}
.section05 .inner .box .text p {
    cursor: default;
    font-family: 'semibold';
    font-size: 20px;
}
.section05 .inner .box .text button {
    cursor: pointer;
    font-size: 18px;
    font-family: 'medium';
    border: 2px solid #21A664;
    padding: 12px 24px;
    border-radius: 40px;
    transition: 0.4s;
    background-color: transparent;
}
.section05 .inner .box .text button:hover {
    background-color: #21A664;
    color: #fff;
}
.section06 .inner {
    width: 100%;
    height: 100%;
    padding: 40px;
    margin: 120px auto;
}
.section06 .inner .sec06 .swiper-slide{
    width: 100%;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    border: 1px solid #999;
}
.section06 .inner .sec06 .swiper-slide:hover img {
    scale: 1.02;
}
.section06 .inner .sec06 .swiper-slide img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    transition: 0.4s;
}
.section06 .inner .sec06 .swiper-slide .text {
    height: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.3;
    /* position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); */
    background-color: rgba(255, 255, 255, 0.6);
}
.section06 .inner .sec06 .swiper-slide .text button {
    margin-top: 20px;
    cursor: pointer;
    font-family: 'medium';
    font-size: 16px;
    border: 2px solid #21A664;
    width: 120px;
    height: 40px;
    border-radius: 40px;
    background-color: transparent;
    transition: 0.4s;

}
/* .section06 .inner .sec06 .swiper-slide:first-child .text {
    color: #fff;
    background-color: transparent;
} */
.section06 .inner .sec06 .swiper-slide .text p {
    font-family: 'semibold';
    font-size: 18px;
    margin-bottom: 7px;
        /* 말줄임표 1줄 */
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
}
.section06 .inner .sec06 .swiper-slide .text span {
    font-family: 'regular';
    word-break: keep-all;
    /* 말줄임표 3줄 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.symbol {
    cursor: default;
    width: 100%;
    height: 100%;
    padding: 40px;
    margin: 120px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.symbol h3 {
    font-family: 'semibold';
    font-size: 22px;
    display: flex;
    column-gap: 7px;
    align-items: center;
    margin-bottom: 15px;
}
.symbol p {
    text-align: center;
    color: #999;
    font-family: 'regular';
    line-height: 1.3;
}
.symbol p cite {
    cursor: pointer;
    font-style: normal;
    text-decoration: underline;
}
.footer {
    width: 100%;
    background-color: #000;
}
.footer .inner {
    max-width: 1280px;
    padding: 40px 0;
    width: calc(100% - 30px);
    margin: 0 auto;
    color: #fff;
}
.footer .inner .sns {
    cursor: pointer;
    margin-bottom: 40px;
    display: flex;
    column-gap: 15px;
}
.footer .inner .sns img{
    width: 35px;
    background-color: #fff;
    border-radius: 50%;
}
.footer .inner .center ul{
    display: flex;
    justify-content: space-between;
}
.footer .inner .center ul li {
    display: flex;
    flex-direction: column;
}

.footer .inner .center ul li div {
    cursor: default;
    font-family: 'medium';
    margin-bottom: 7px;
}
.footer .inner .center ul li:nth-child(2) div.last {
    margin-top: 13px;
}
.footer .inner .center ul li a {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-family: 'regular';
    font-size: 14px;
    padding: 4px 0;
}
.footer .inner .btm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.footer .inner .btm p {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    color: #999;
}
.footer .inner .btm p span {
    font-family: 'regular';
}
.footer .inner .btm p span:last-child {
    display: flex;
    justify-content: space-between;
}
.footer .inner .btm p span:last-child a {
    color: #fff;
    display: flex;
    column-gap: 7px;
}

@media screen and (max-width:1280px) {
    .section01 .inner, .section02 .inner, .section03 .inner {
        margin:100px auto;
    }
    .section04 .inner .item {
        height:90vh;
   }
   .section06 .inner .sec06 .swiper-slide {
    height:max-content;
   }
   .section06 .inner .sec06 .swiper-slide img {
    height: 55%;
   }
   .sec04 {
    width: 90% !important;
   }

}
@media screen and (max-width:960px) {
    .pc_nav{
        display:none;
    }
    .main_visual{
        margin-bottom: 0px;
    }
    .section01 .inner .left {
        width: 63%;
    }
    .section01 .inner .left .box p{
        left: 0px !important;
        padding: 0 30px;
    }
    .section01 .inner, .section03 .inner, .section04 .inner,.section05 .inner, .section06 .inner {
        padding:0 25px;
        margin: 80px auto;
    }
    .section02 .inner{
        margin: 80px auto;
        height: 70vh;
        padding: 0;
    }
    .section02 .inner h3{
        width:auto;
        font-size: 120px;
        top: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: normal;
        backdrop-filter: blur(1.5px);
        color: #000;
    }
    .section02 .inner img.scroll_on {
        transform: scale(1.2);
    }
    .section03 {
        display:inline-block;
    }
    .section04 .inner .item {
        margin: 100px 0;
        height: 120vh;
        overflow: hidden;
    }
    .section04 .inner .item > div .box_wrap {
        justify-content: center;
    }
    .section04 .inner .item > div .box_wrap .box {
        width:30%;
    }
    .section04 .inner .item > div .box_wrap .box.none960 {
        display:none;
    }
    .section05 .inner {
        height: max-content;
    }
    .section05 .inner .box img {
        height: max-content;
    }
    .section05 .inner .box .text {
        padding: 20px;
    }
}

@media screen and (max-width:780px) {
    .main_visual .inner .main .swiper-wrapper .text {
        left: 40px;
        row-gap: 18px;
    }
    .main_visual .inner .main .swiper-wrapper .text span {
        font-size: 16px;
    }
    .section01 .inner, .section03 .inner, .section04 .inner, .section05 .inner, .section06 .inner {
        margin: 60px auto;
    }
    .section02 .inner {
        margin: 40px auto;
    }
    .section01 .inner .left .box:last-child p,.section01 .inner .right .box:first-child p, .section01 .inner .left .box:first-child p{
        bottom: 70px;
    }
    .section01 .inner .right .box:first-child p {
        left: 15px;
    }
    .section01 .inner .left .box:last-child button, .section01 .inner .left .box:first-child button {
        bottom: 10px;
    }
    .section01 .inner .right .box:first-child button, .section01 .inner .right .box:last-child button {
        bottom: 10px;
        left: 15px;
    }
    .section04 .inner .item {
        margin: 0;
        margin-top: 40px;
        height: 135vh;
    }
    .section01 .inner .right .box:last-child p {
        font-size: 32px;
        padding: 20px;
    }
    .section01 .inner .left .box:last-child p span {
        display: none;
    }
    .section01 .inner {
        height: max-content;
    }
    .section02 .inner {
        height: 60vh;
    }
    .section02 .inner h3 {
        font-size: 85px;
    }
    .section04 .inner .item > div .box_wrap .box {
        width: 47%;
    }
    .section04 .inner .item > div .box_wrap .box.none760 {
        display: none;
    }
}

@media screen and (max-width:620px) {
    .main_visual .inner .main .swiper-wrapper .text p {
        font-size: 22px;
    }
    .main_visual .inner .main .swiper-wrapper .text {
        bottom: 70px;
    }
    .section01 .inner .right .box:last-child p {
        font-size: 28px;
    }
    .section02 .inner {
        height: 40vh;
    }
    .section04 .inner .item {
        height: 130vh;
    }
    .footer .inner .center ul {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        row-gap: 30px;
    }
    .footer .inner .center ul li {
        width: 49%;
    }
    .footer .inner .btm p {
        font-size: 14px;
    }
    .footer .inner .btm p span:last-child a {
        font-size: 16px;
    }
    .symbol {
        margin: 80px auto;
    }
}

@media screen and (max-width:520px) {
    .section01 .inner .left .box p,.section01 .inner .right .box p {
        font-size: 16px !important;
    }
    .main_visual .inner .main .swiper-wrapper .text {
        padding: 20px;
        left: 25px;
    }
    .section02 .inner h3 {
        backdrop-filter: blur(1px);
    }
    .section01 .inner .left .box button,.section01 .inner .right .box button {
        padding: 12px 20px !important;
    }
    .section01 .inner {
        flex-direction: column;
        row-gap: 20px;
    }
    .section01 .inner .left, .section01 .inner .right {
        width: 100%;
    }
    .section01 .inner .left {
        row-gap: 20px;
    }
    .section01 .inner .right .box {
        height: 30vh !important;
    }
    .section01 .inner .right .box:last-child {
        display: none;
    }
    .section02 .inner {
        height: 35vh;
    }
    .section02 .inner h3 {
        font-size: 60px;
    }
    .section03 .inner h3, .section04 .inner h3 {
        font-size: 17px;
    }
    .section03 .inner .sec03 .swiper-slide .text p, .section04 .inner .item > div .box_wrap .box .text p,
    .section06 .inner .sec06 .swiper-slide .text span, .symbol p, .footer .inner .center ul li div {
        font-size: 15px;
    }
    .section03 .inner .sec03 .swiper-slide .text span,.section04 .inner .item > div .box_wrap .box .text span, .section05 .inner .box .text p,
    .section05 .inner .box .text button, .section06 .inner .sec06 .swiper-slide .text p {
        font-size: 16px;
    }
    .section04 .inner .item {
        height: 80vh;
    }
    .section05 .inner h3, .section06 .inner h3 {
        font-size: 17px;
    }
}

@media screen and (max-width:450px) {
    .up_btn {
        width: 50px;
        height: 50px;
    }
    .up_btn img {
        width: 100%;
    }
    .main_visual .inner .main .swiper-wrapper .text p {
        font-size: 20px;
        /* 말줄임표 1줄 */
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .header .inner h1 {
        width: 120px;
    }
    .section04 .inner .item > div .box_wrap {
        column-gap: 2%;
        row-gap: 20px;
    }
    .section06 .inner .sec06 .swiper-slide .text {
        height: max-content;
        padding: 10px;
    }
    .footer .inner .btm p span:last-child {
        flex-direction: column;
        row-gap: 15px;
    }
    .section05 .inner .box .text {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }
    .section05 .inner .box .text {
        padding: 15px;
    }
    .sec04 .swiper-wrapper .swiper-slide a, .sec04 .swiper-wrapper .swiper-slide a::after {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 390px) {
    .main_visual {
        height: 80vh;
    }
    .header .inner .util {
        column-gap: 27px;
    }
    .section02 .inner {
        height: 25vh;
    }
    .section02 .inner h3 {
        width: 100%;
        font-size: 40px;
    }
    .section04 .inner .item > div .box_wrap .box .text strong {
        /* 말줄임표 1줄 */
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .sec04-next, .sec04-prev {
        opacity: 0.6;
    }
    .section05 .inner .box .text {
        row-gap: 15px;
    }
}
@media screen and (max-width: 390px) {
    .section04 .inner .item {
        height: 100vh;
    }
}